@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-white {
  background-color: white;
}
.dark .bg-white {
  background-color: black;
}

/* assets/css/main.css */
.bg-custom {
  background-color: #f0f0f0; /* Light mode background */
}
.dark .bg-custom {
  background-color: #1a202c; /* Dark mode background */
}

.btn {
  @apply px-4 py-2 rounded-lg transition-colors;
}

/* .btn-primary {
  @apply bg-blur-500 hover:bg-blue-600 text-white;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-gray-800;
} */


/* Page transitions */
.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #27628c;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d4a6a;
}

/* Base styles */
body {
  @apply bg-white text-gray-800;
  font-family: "Inter", sans-serif;
}

