@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-white {
  background-color: white;
}
.dark .bg-white {
  background-color: black;
}

/* assets/css/main.css */
.bg-custom {
  background-color: #f0f0f0; /* Light mode background */
}
.dark .bg-custom {
  background-color: #1a202c; /* Dark mode background */
}
/* Apply the font globally */
body {
  font-family: "Rethink Sans", serif;
}

body {
}

.btn {
  @apply px-4 py-2 rounded-lg transition-colors;
}

/* .btn-primary {
  @apply bg-blur-500 hover:bg-blue-600 text-white;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-gray-800;
} */

